@charset "ISO-8859-1";

	div#body1 {
        background-color: white;
        }
	

    input[type=search]{
      float: right;
      margin-right: 5px;
      border-radius: 10px;
      outline: 0;
    }

    h2{
      margin-left: 8px;
    }

    h4{
      margin-left: 8px;
    }
  
    button, input, select, textarea{
      border-radius: 10px;
      outline: 0;
      padding: 5px;
    }

    table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      background: #CBD6D5;
      width: 100%;
    }

    th{
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 2px;
      padding-bottom: 2px;
      border: 1px solid white; 
    }


    #sort{
      float: right;
      border: none;
      background: #CBD6D5;
    }

    hr{
            border: 2px solid #CBD6D5;
        }

        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
          border-top: 4px solid #CBD6D5;

        }

         a{
          color:black;
        }

        .pager li>a, .pager li>span{
          background-color: #CBD6D5;
          border-radius: 10px;
        }
        
        #selectionBox{
        	width: 100px;
        	height: 50px;
        
        }
        
        #options{
        	height:30px;
        	padding: 5px;
        }
        
        #searchBox{
        	float: right;
        }
    