<!DOCTYPE html>
<html lang="en">
<head>
  <title>B2B | Campaign Management | Settings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
	.btn-success{
		padding-left: 5px;
    margin-left: 20px;
	}
  .form-group{
    margin-left: 20px;
  }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
          border-top: 4px solid #CBD6D5;
    }

 hr{
            border: 2px solid #CBD6D5;
        }
</style>

</head>
<body>

<div class="container-fluid">
  <h2>EDIT CAMPAIGN</h2>
  <h4>NEW CAMPAIGN</h4>

      <hr>
   <ul class="nav nav-tabs">
      <li ><a href="campaign_information.html">Campaign Information</a></li>
      <li><a href="products.html">Products</a></li>
      <li class="active"><a href="'">Settings</a></li>
    </ul>

 	<br>
  <form>
    <div class="form-group">
      
      <label for="sel1">Select Consultant</label>
      <select class="form-control" id="sel1">
        <option>Torsten</option>
        <option>Mohammad Rayhanur Rahman</option>
        <option>Raihan Maksud</option>
        <option>Akash</option>
      </select>
      <br>
 


  <hr>

</div>
	
	<button type="submit" name="save" class="btn btn-success">save campaign</button>

   </form>
  </div> 
</body>
</html>