<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add private campaign</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">

    hr{
        border: 2px solid #CBD6D5;
        }
  </style>

</head>
<body>


  <h2>CREATE A PRIVATE CAMPAIGN</h2>
 	<hr>
  <div class="container">
  <form>
    <div class="form-group">
      <label for="sel1">Select customer</label>
      <select class="form-control" id="sel1">
        <option>Apacsale/Ozsale/Mysale</option>
        <option>B4F</option>
        <option>BigBrands</option>
        <option>John Doe</option>
      </select>
      <br>


      <div class="form-group">
      <label for="sel1">Select Consultant</label>
      <select class="form-control" id="sel1">
        <option>Torsten</option>
        <option>Mohammad Rayhanur Rahman</option>
        <option>Raihan Maksud</option>
        <option>Akash</option>
      </select>
      <br>


     <div class="form-group">
      <label for="usr">Title</label>
      <input type="text" class="form-control" id="usr" placeholder="New private campaign">
    </div>

    
    <button type="submit" name="campaign" class="btn btn-success">Create Campaign</button>
     
    </div>
  </form>
</div>

</body>
</html>