
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>B2B | Request a Campaign</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-git.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-ChfqqxuZUCnJSK3MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	
	<link rel="stylesheet" type="text/css" th:href="@{/css/footerStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/headerStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/campaignsStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/campaignsCss/requestCampaignStyle.css}">



</head>


<body>
	
	
	<div th:include="header :: copy"></div>
	
	
<div><h2>REQUEST A CAMPAIGN</h2></div>
	

	<div class="container-fluid" id="body2">
		<div class="row">
			<div class="col-lg-4" id="part1">
				<hr class="hr1">
				<h3>Request a Campaign</h3>
				<hr>
				<div class = "thumbnail"><img src="../images/team.jpg"></div>
				<p>You want an individual assortment of our clothing items? Please tell us your needs and objectives for the collection that we can provide as a campaign for you.</p> 
				<br>
				<p>To offer you the best possible compilation, we need some information on the occasion and theme of your products.</p>
			</div>
			<div class="col-lg-8">
				<hr class="hr2">
				<h3>Your campaign interests</h3>
				<hr>
				<form>
				<div class="form-group">

			      <label class="control-label col-sm-2" for="audience">Target audience</label>
			    <div class="col-sm-10">
			      <select class="form-control" id="audience">
			        <option>Male</option>
			        <option>Female</option>
			        <option>Kid</option>
			        <option>Unisex</option>
			      </select>
			    </div>
				<br>
			 	 <br>
			  	<br>
			    <label class="control-label col-sm-2" for="theme">Theme/Occasion</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="theme" placeholder="Theme/Occasion">
			    </div>
			  
			  <br>
			  <br>
			  <br>	
			  
			    <label class="control-label col-sm-2" for="price">Favored price range</label>
			    <div class="col-sm-10"> 
			      <input type="text" class="form-control" id="price" placeholder="Price range..">
			    </div>

			    	<br>
			  <br>
			  <br>

			     <label class="control-label col-sm-2" for="brand">Favored brand(s)</label>
			    <div class="col-sm-10"> 
			      <input type="text" class="form-control" id="brand" placeholder="Brand name..">
			    </div>


			    <br>
			  <br>
			  <br>
			  
			     <label class="control-label col-sm-2" for="subject">Send detail information about your objectives</label>
			    <div class="col-sm-10"> 
			      <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
			    </div>

			    
		      <strong>Send Copy</strong>
		      <input type="checkbox" name="checkbox"> Send me copy of this request to my email address (r.rahmann@motion-fashion.de)<br>
		   

		    	<hr>

			  </div>

			   <button class="btn btn-primary">Send request to motion fashion network</button>
			   <hr>
			   </form>
		</div>
	</div>
	</div>
	
	
	<div th:include="footer :: copy"></div>



</body>
</html>