@charset "ISO-8859-1";

div#body1{
	background-color: #FFF;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
          border-top: 4px solid #CBD6D5;
    }

/* 
  .container-fluid{
  padding-left: 30px;
  }
  .fields{
    margin-left: 100px;
  }
  .input1{
    float: right;
    width: 75%;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 4px;
  }
  .input2{
    float: right;
    width: 100%;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 4px;
    

  }

  .form-control{
    width: 89.5%;
    float: right;
  }

  button{
    float: right;
  }

  .hr2{
    border: 2px solid #5cb85c;
  }
   .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
          border-top: 4px solid #CBD6D5;
    }

     hr{
        border: 2px solid #CBD6D5;
        }

    button{
      float: left;
    }
    form span.required{
                color:red;
      }

      #sel1{
        color:red;
      }
    
  */
  
  