@charset "UTF-8";

/* ********************Slider***********************/
    .carousel-inner> .item>img, .carousel-inner>.item>img, img-responsive, .thumbnail a>img, .thumbnail>img{
      height: 297px;
     
    }
	
	.carousel-inner{
	padding-top:20px;
	padding-bottom:30px;
	}
    /* ********************Slider***********************/

   