@charset "UTF-8";
	
		div#body2{
			background-color: #FFF;
		}

		h2{
			padding-left: 15px;
		}
		.hr1{
			border: 2px solid grey;
		}

		.hr2{
			border: 2px solid #337ab7;;
		}

		#subject{
			height: 200px;
			width: 100%;
		}

	