@charset "ISO-8859-1";

	div#body1 {
        background-color: white;
        }
        
        
    h2{
      margin-left: 10px;
    }

    h4{
      margin-left: 10px;
    }
  
    button, input, select, textarea{
      border-radius: 3px;
      outline: 0;
      margin-left: 15px;
      margin-right: 20px;
    }

  	
  
    hr{
            border: 2px solid #CBD6D5;
      }

      #btn1{
        margin-left: 10px;
      }
      #btn2{
        padding-left: 30px;
        padding-right: 30px;      }
        #show
        {
          float: right;
        }

        #options{
          width: 35%;
		
        }
    .btn-default{
    	background-color: #ece7e7;
    }

