<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>B2B | Place Order</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-git.js"></script>
  	
	<link rel="stylesheet" type="text/css" th:href="@{/css/ordersCss/orderHistoryStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/footerStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/headerStyle.css}">

</head>


<body>
	<div th:include="header_admin :: copy"></div>
    <h2>ORDER ARCHIVE</h2>

    <hr>

       <div class="container-fluid">    
      <div class="row">
        <div class="col-md-12  col-sm-6">
        <table>
            <thead>
              <tr>
                <th>Order Date</th>
                <th>Invoice</th>
                <th>Payment Method</th>
                <th>Total Amount</th>
                <th>Campaign</th>
                <th>Booking</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>

            </thead>
        </table>
      </div>
      </div>
      </div>
      <div th:include="footer_admin :: copy"></div>
  </body>
  </html> 